<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="app.css">
    <title>Deno Surveys</title>
</head>
<body>
    <h1>Active Survey</h1>

    <% for (let survey of surveys) { %>

<div class="card survey-card mb-3">
    <a href="/survey/<%= survey.id %>">
        <div class="card-body">
            <div class="card-title"><%= survey.name %></div>
            <div class="card-text"><%= survey.description %></div>
        </div>

    </a>
</div>
    <% } %>
</body>
</html>
